<div class="jumbutron text-center">
  <button class="btn btn-success btn-lg mb-2 mt-1" (click)="rollDice()">
    Tirar Dados
  </button>
  <br />
  <img
    class="img"
    [ngClass]="{
      'animate__animated animate__bounce': number1 === number2
    }"
    [src]="diceLeft"
    alt="dados"
    loading="lazy"
  />
  <img
    class="img"
    [ngClass]="{
      'animate__animated animate__bounce': number1 === number2
    }"
    [src]="direRight"
    alt="dados"
    loading="lazy"
  />

  <h1 *ngIf="number1 === number2">
    <span class="badge bg-success">¡Ganaste!</span>
  </h1>
</div>
